.bottom-left {
    position:absolute;
    bottom:0px;
    background-color: white;
    font-size:smaller;
    padding-right: 10px;
}

.containerImg{
    position:relative;
    text-align: center;
    color: black;
}

.cardDiv{
    display:block;
    flex-direction:column;
    justify-content: left;
}

p{
    font-size:smaller;
}

.card-footer {
    font-size: smaller;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: yellow !important;
    color: black !important;
}

a {
    display:block;
    text-decoration:none;
}

a span{
    display:inline-block;
}